In [346]:
# Install all the necessary python libraries if anaconda is not able to find them.

In [347]:
# Import all the necessary python libraries
import pandas as pd
import numpy as np

In [348]:
# Initialize Variables
file_path = 'premis_makanan_list_part_3_final.csv'
df = pd.read_csv(file_path, encoding='utf-8')
display (df.head(10))
df.shape

,Premise Name,Company Brand Name,Address,Halal Certification Expiry Date,Halal Certification Body
0,Coolblog (Kipmart Tampoi),V COOL TRADING,"K33, Kipmart Tampoi, Taman Tampoi Indah,",2019-06-30,Jabatan Kemajuan Islam Malaysia (JAKIM)
1,Coolblog (Bestmart),V COOL TRADING,"Lot NP4, BESTMART, No. 3, Jalan Danga, Taman N...",2019-06-30,Jabatan Kemajuan Islam Malaysia (JAKIM)
2,Selera Anggun Sdn Bhd,SELERA ANGGUN SDN BHD,"No 7, Jalan Sagu 17 Taman Daya",2017-12-31,Jabatan Kemajuan Islam Malaysia (JAKIM)
3,COFFE HOUSE,KUALA PERLIS SEAVIEW HOTEL,"NO.1,PERSIARAN PUTRA TIMUR 1 KUALA PERLIS",2018-06-30,Jabatan Kemajuan Islam Malaysia (JAKIM)
4,RU Cafe Sdn Bhd,RU CAFE SDN BHD,LG049-050 Lingkaran Syed Putra Mid Valley,2018-06-30,Jabatan Kemajuan Islam Malaysia (JAKIM)
5,LAGENDA CUISINE SDN BHD,LAGENDA CUISINE SDN BHD,"NO.33 JALAN PUTRI JAYA 8 TAMAN PUTRI JAYA , BA...",2019-01-31,Jabatan Kemajuan Islam Malaysia (JAKIM)
6,Coolblog (Kipmart Tampoi),V COOL TRADING,"K33, Kipmart Tampoi, Taman Tampoi Indah,",2019-06-30,Jabatan Kemajuan Islam Malaysia (JAKIM)
7,Coolblog (Bestmart),V COOL TRADING,"Lot NP4, BESTMART, No. 3, Jalan Danga, Taman N...",2019-06-30,Jabatan Kemajuan Islam Malaysia (JAKIM)
8,Selera Anggun Sdn Bhd,SELERA ANGGUN SDN BHD,"No 7, Jalan Sagu 17 Taman Daya",2017-12-31,Jabatan Kemajuan Islam Malaysia (JAKIM)
9,COFFE HOUSE,KUALA PERLIS SEAVIEW HOTEL,"NO.1,PERSIARAN PUTRA TIMUR 1 KUALA PERLIS",2018-06-30,Jabatan Kemajuan Islam Malaysia (JAKIM)

(196166, 5)

In [349]:
# Remove white space beginning and at the end
# Make all characters CAPITALIZE using upper function
for column in df.select_dtypes(include=['object']).columns:
    # Strip whitespace and capitalize all characters
    df[column] = df[column].str.strip().str.upper()

In [350]:
# Remove prefixes (any number followed by a space)
df['Premise Name'] = df['Premise Name'].str.replace(r'^#\d+\s*', '', regex=True)

# Remove all special characters except ' @ & and -
df['Premise Name'] = df['Premise Name'].str.replace(r"[^a-zA-Z0-9\s'@&-.()]", "", regex=True)

In [351]:
for column in df.columns:
    max_value = max(df[column].astype(str), key=len)  # Find the value with the maximum length
    max_length = len(max_value)  # Calculate the length of this value
    min_value = min(df[column].astype(str), key=len)  # Find the value with the maximum length
    min_length = len(min_value)  # Calculate the length of this value
    print(f"Column '{column}' has the shortest number of characters of {min_length} characters with the value of '{min_value}'.")
    print(f"Column '{column}' has the longest number of characters of {max_length} characters with the value of '{max_value}'.")

Column 'Premise Name' has the shortest number of characters of 1 characters with the value of '-'.
Column 'Premise Name' has the longest number of characters of 113 characters with the value of 'MARDHIYYAH HOTEL & SUITES (MARDHIYYAH HOTEL SDN BHD) F.K.A GRAND BLUEWAVE HOTEL SHAH ALAM (KUALA SYNERGY SDN BHD)'.
Column 'Company Brand Name' has the shortest number of characters of 3 characters with the value of 'nan'.
Column 'Company Brand Name' has the longest number of characters of 102 characters with the value of 'SAMA SAMA HOTEL KL INTERNATIONAL AIRPORT (FORMELY KNOWN AS KL AIRPORT HOTEL SDN BHD (PAN PACIFIC KLIA)'.
Column 'Address' has the shortest number of characters of 1 characters with the value of '-'.
Column 'Address' has the longest number of characters of 192 characters with the value of 'SUGARBUN / PEZZO ASSYAKIRIN NO. 204 - 205 (7838 -7839), JALAN SULTAN ISKANDAR, ASSYAKIRIN COMMERCE SQUARE, (STORAGE : NO. 206 2ND FLOOR (L7840), ASSYAKIRIN COMM. SQUARE, JALAN SULTAN ISKANDAR)'.
Column 'Halal Certification Expiry Date' has the shortest number of characters of 3 characters with the value of 'nan'.
Column 'Halal Certification Expiry Date' has the longest number of characters of 10 characters with the value of '2019-06-30'.
Column 'Halal Certification Body' has the shortest number of characters of 3 characters with the value of 'nan'.
Column 'Halal Certification Body' has the longest number of characters of 86 characters with the value of 'BADAN PENYELENGGARA JAMINAN PRODUK HALAL, KEMENTERIAN AGAMA REPUBLIK INDONESIA (BPJPH)'.

In [352]:
df.loc[df['Premise Name'].str.len() == 1, 'Premise Name'] = None
df.loc[df['Address'].str.len() == 1, 'Address'] = None

## **EDA**

In [353]:
display (df.info())
display (df.describe())
display (df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196166 entries, 0 to 196165
Data columns (total 5 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Premise Name                     182961 non-null  object
 1   Company Brand Name               182967 non-null  object
 2   Address                          182826 non-null  object
 3   Halal Certification Expiry Date  182818 non-null  object
 4   Halal Certification Body         182967 non-null  object
dtypes: object(5)
memory usage: 7.5+ MB

None

,Premise Name,Company Brand Name,Address,Halal Certification Expiry Date,Halal Certification Body
count,182961,182967,182826,182818,182967
unique,15839,2876,22389,336,5
top,PASTRY KITCHEN,QSR STORES SDN BHD,"LOT G-49 & G-50,GROUND FLOOR, BATU PAHAT MALL,...",2020-05-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
freq,289,52674,116,5435,182725

Premise Name                       13205
Company Brand Name                 13199
Address                            13340
Halal Certification Expiry Date    13348
Halal Certification Body           13199
dtype: int64

In [354]:
df['Halal Certification Body'].unique()

array(['JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)', nan,
       'JAMIAT ULAMA HALAL FOUNDATION',
       'NATIONAL INDEPENDENT HALAAL TRUST',
       'BADAN PENYELENGGARA JAMINAN PRODUK HALAL, KEMENTERIAN AGAMA REPUBLIK INDONESIA (BPJPH)',
       'NIPPON ASIA HALAL ASSOCIATION(NAHA)'], dtype=object)

In [355]:
df_cleaned = df.dropna(subset=['Premise Name'])

In [356]:
display (df_cleaned.info())
display (df_cleaned.describe())
display (df_cleaned.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 182961 entries, 0 to 196165
Data columns (total 5 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Premise Name                     182961 non-null  object
 1   Company Brand Name               182961 non-null  object
 2   Address                          182825 non-null  object
 3   Halal Certification Expiry Date  182812 non-null  object
 4   Halal Certification Body         182961 non-null  object
dtypes: object(5)
memory usage: 8.4+ MB

None

,Premise Name,Company Brand Name,Address,Halal Certification Expiry Date,Halal Certification Body
count,182961,182961,182825,182812,182961
unique,15839,2875,22388,335,5
top,PASTRY KITCHEN,QSR STORES SDN BHD,"LOT G-49 & G-50,GROUND FLOOR, BATU PAHAT MALL,...",2020-05-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
freq,289,52674,116,5435,182719

Premise Name                         0
Company Brand Name                   0
Address                            136
Halal Certification Expiry Date    149
Halal Certification Body             0
dtype: int64

In [357]:
df_null_date = df_cleaned[df_cleaned['Halal Certification Expiry Date'].isna()]
display (df_null_date)

,Premise Name,Company Brand Name,Address,Halal Certification Expiry Date,Halal Certification Body
194720,THE MANHATTAN FISH MARKET - AEON TEBRAU CITY,MFM RESTAURANTS SDN BHD,"LOT G111, AEON TEBRAU CITY SHOPPING CENTRE, NO...",NaN,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
194721,"IPOH HAINAN CHICKEN RICE, ANDERSON ROAD, IPOH",IPOH HAINAN CHICKEN RICE SDN BHD,"IPOH HAINAN CHICKEN RICE SDN BHD 107, JALAN RA...",NaN,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
194722,THE MANHATTAN FISH MARKET - KOMTAR JBCC,MFM RESTAURANTS SDN BHD,"JBCC, LOT 233, 2ND FLOOR, KOMTAR JBCC, JOHOR B...",NaN,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
194723,THE MANHATTAN FISH MARKET - MAHKOTA PARADE,MFM RESTAURANTS SDN BHD,"G-05, GROUND FLOOR, MAHKOTA PARADE, NO.1, JALA...",NaN,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
194724,PK ECORESORT SDN BHD,PK ECORESORT SDN. BHD.,"LOT 128, MUKIM TELONG JALAN TOK BALI",NaN,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
...,...,...,...,...,...
195973,4FINGERS CRISPY CHICKEN T2 TAWAU,GIMME4FINGERS MALAYSIA SDN.BHD.,"LOT 27 & 28, T2@APAS, JALAN T2, MILE 1, JALAN ...",NaN,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
195979,SEPIRING CAFE SETIA CITY MALL,SEPIRING CAFE SDN BHD,"LOT LG-167, TINGKAT LG, SETIA CITY MALL, NO.7,...",NaN,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
196003,FRESH FRUIT CORNER,FIZUE ENTERPRISE,"NO. 9, HENTIAN SEBELAH BUKIT GANTANG (S), PROJ...",NaN,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
196021,CHAGEE BUKIT JALIL,CHAGEE (M) SDN. BHD.,"H-7-1, PUSAT BANDAR BUKIT JALIL, PERSIARAN JAL...",NaN,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
196022,CHAGEE PARADIGM MALL,CHAGEE (M) SDN. BHD.,"CF-56(P) PARADIGM MALL 1, JALAN SS 7/26A, SS 7",NaN,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)

In [358]:
premise_counts = df_cleaned.groupby('Premise Name').size().reset_index(name='Counts')
display( premise_counts)

num_unique_rows_of_duplicates = (premise_counts['Counts'] > 1).sum()
display( num_unique_rows_of_duplicates)

total_duplicates_count = (premise_counts['Counts'] - 1).sum()
display( total_duplicates_count)

# Step 2: Merge this count back into the original DataFrame
df_with_counts = pd.merge(df_cleaned, premise_counts, on='Premise Name', how='left')

# Step 3: Sort the DataFrame by 'Premise Name'
df_with_counts_sorted = df_with_counts.sort_values(by='Premise Name')

display( df_with_counts_sorted.tail(10))

                                            Premise Name  Counts
0                                    (1) ONE PANTAI CAFE       1
1                            (1) ONE PANTAI CAFE KITCHEN       1
2                             (AJ ASHLEY SDN BHD (TAWAU)       1
3      (MAIN KITCHEN)THE ROUND TOWER 1886 CAFE & REST...       1
4                   0321102177J.CO QUEENSBAY MALL PENANG       1
...                                                  ...     ...
15834                ZUS COFFEE UNIVERSITY OF NOTTINGHAM       1
15835                 ZUS COFFEE VERSIS BOULEVARD KLUANG       1
15836                              ZUS COFFEE VISTA ALAM       1
15837              ZUS COFFEE XIAMEN UNIVERSITY MALAYSIA       1
15838                               ZUS COFFEE YONG PENG       1

[15839 rows x 2 columns]

9676

167122

,Premise Name,Company Brand Name,Address,Halal Certification Expiry Date,Halal Certification Body,Counts
176678,ZUS COFFEE THE CURVE,ZUSPRESSO (M) SDN BHD (1340330-X),"THE CURVE, UNIT NO K-G27-W, JALAN PJU 7/3, MUT...",2024-06-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM),2
169993,ZUS COFFEE THE CURVE,ZUSPRESSO (M) SDN BHD (1340330-X),"THE CURVE, UNIT NO K-G27-W, JALAN PJU 7/3, MUT...",2024-06-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM),2
180386,ZUS COFFEE THE FLO BANDAR SRI DAMANSARA,ZUSPRESSO (M) SDN BHD (1340330-X),"A KLEINE PAUSE SDN. BHD. GF-3, THE FLO, PERSIA...",2025-05-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM),1
182882,ZUS COFFEE UCSI UNIVERSITY KL,ZUSPRESSO (M) SDN BHD (1340330-X),"LOT 6, BLOCK G, GROUND FLOOR, UCSI UNIVERSITY...",2025-12-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM),1
182291,ZUS COFFEE UNIVERSITY OF MALAYA,ZUSPRESSO (M) SDN BHD (1340330-X),"GROUND FLOOR, LOCKER ROOM (GROUND FLOOR) BANGU...",2025-11-30,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM),1
182878,ZUS COFFEE UNIVERSITY OF NOTTINGHAM,ZUSPRESSO (M) SDN BHD (1340330-X),"BLOCK H, JALAN BROGA,",2025-12-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM),1
179212,ZUS COFFEE VERSIS BOULEVARD KLUANG,ZUSPRESSO (M) SDN BHD (1340330-X),"NO.11, TINGKAT BAWAH, JALAN DUKU,",2025-02-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM),1
182293,ZUS COFFEE VISTA ALAM,ZUSPRESSO (M) SDN BHD (1340330-X),"LOT NO F-G-29 (GROUND FLOOR), VISTA ALAM JALAN...",2025-11-30,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM),1
182816,ZUS COFFEE XIAMEN UNIVERSITY MALAYSIA,ZUSPRESSO (M) SDN BHD (1340330-X),"A3 LIBRARY CAFE - GF, XIAMEN UNIVERSITY MALAYS...",2025-12-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM),1
182331,ZUS COFFEE YONG PENG,ZUSPRESSO (M) SDN BHD (1340330-X),"NO.4 (GROUND FLOOR), JALAN CAHAYA BARU TAMAN B...",2025-11-30,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM),1

In [359]:
# Group premises with the similar name: With or without 'S

# Convert 'Halal Certification Expiry Date' to datetime, specifying the format and handling invalid dates by converting them to NaT
df_cleaned['Halal Certification Expiry Date'] = pd.to_datetime(df_cleaned['Halal Certification Expiry Date'], format='%Y-%m-%d', errors='coerce')

# Normalize 'Premise Name' for grouping
df_cleaned['Normalized Premise Name'] = df_cleaned['Premise Name'].str.replace("'S", "", regex=False)

# Sort the DataFrame by 'Normalized Premise Name' and then 'Halal Certification Expiry Date' in descending order to ensure the latest dates come first
df_cleaned_sorted = df_cleaned.sort_values(by=['Normalized Premise Name', 'Halal Certification Expiry Date'], ascending=[True, False])

# Define a function to apply the selection logic within each group
def select_record(group):
    if group['Premise Name'].str.contains("'S").any():
        # Prefer records with 'S, and since the group is already sorted by date, take the first
        preferred = group[group['Premise Name'].str.contains("'S")].head(0)
        if not preferred.empty:
            return preferred
    # If no records with 'S or we're in a group without 'S, return the first row since it's the latest date
    return group.head(1)

# Group by 'Normalized Premise Name' and apply the selection function
df_grouped = df_cleaned_sorted.groupby('Normalized Premise Name', as_index=False).apply(select_record)

# Drop the 'Normalized Premise Name' column and reset the index
df_final = df_grouped.drop(columns=['Normalized Premise Name']).reset_index(drop=True)

# Display the size and df
display(df_final.shape)
display(df_final.head())

/var/folders/1m/9hf1cmlx32s_tf6t9zldwz4w0000gn/T/ipykernel_83797/1414441995.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Halal Certification Expiry Date'] = pd.to_datetime(df_cleaned['Halal Certification Expiry Date'], format='%Y-%m-%d', errors='coerce')
/var/folders/1m/9hf1cmlx32s_tf6t9zldwz4w0000gn/T/ipykernel_83797/1414441995.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Normalized Premise Name'] = df_cleaned['Premise Name'].str.replace("'S", "", regex=False)

(15836, 5)

,Premise Name,Company Brand Name,Address,Halal Certification Expiry Date,Halal Certification Body
0,(1) ONE PANTAI CAFE,PANTAI MEDICAL CENTRE SDN BHD (PANTAI HOSPITAL...,NO.9S JALAN BINTANG SATU TAMAN KOPERASI BAHAGIA,2020-08-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
1,(1) ONE PANTAI CAFE KITCHEN,PANTAI MEDICAL CENTRE SDN BHD (PANTAI HOSPITAL...,NO.9S JALAN BINTANG SATU TAMAN KOPERASI BAHAGIA,2020-08-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
2,(AJ ASHLEY SDN BHD (TAWAU),AJ ASHLEY SDN BHD,TB 1756 JALAN HJ KARIM TAWAU,2018-11-30,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
3,(MAIN KITCHEN)THE ROUND TOWER 1886 CAFE & REST...,NEX VISION F&B SDN BHD,ROUND TOWER LOT 32 SECTION 25 KTLD JALAN TUN A...,2025-10-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
4,0321102177J.CO QUEENSBAY MALL PENANG,ULTIMATE DONUT & COFFEE (M) SDN BHD,"LOT NO GF-55 & 56 (GF 105 & 103), QUEENSBAYMAL...",2023-02-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)

In [360]:
display (df_final.info())
display (df_final.describe())
display (df_final.isnull().sum())
display (df_final['Premise Name'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15836 entries, 0 to 15835
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Premise Name                     15836 non-null  object
 1   Company Brand Name               15836 non-null  object
 2   Address                          15830 non-null  object
 3   Halal Certification Expiry Date  15748 non-null  datetime64[ns]
 4   Halal Certification Body         15836 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 618.7+ KB

None

      Halal Certification Expiry Date
count                           15748
mean    2022-11-14 21:13:01.813563648
min               2000-01-01 00:00:00
25%               2021-06-11 06:00:00
50%               2023-12-31 00:00:00
75%               2024-08-15 00:00:00
max               2026-01-31 00:00:00

Premise Name                        0
Company Brand Name                  0
Address                             6
Halal Certification Expiry Date    88
Halal Certification Body            0
dtype: int64

15836

In [361]:
df_null_address = df_final[df_final['Address'].isnull()]
display(df_null_address)

,Premise Name,Company Brand Name,Address,Halal Certification Expiry Date,Halal Certification Body
6316,KFC SERI ISKANDAR,KFC (PENINSULAR MALAYSIA) SDN BHD,NaN,2018-11-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
7512,M HOTELS ( HORIZON CAFE ),MAS AWANA SERVICES SDN BHD [FORMERLY KNOWNS AS...,NaN,2017-11-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
9043,NOODLE STATION KOTA DAMANSARA,NOODLE STATION SDN BHD,NaN,2017-11-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
11406,RMC CATERING & SERVICES,RMC CATERING & SERVICES (M) SDN.BHD.,NaN,2019-07-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
11652,SAUJANA UTAMA,DOMMAL FOOD SERVICES SDN BHD,NaN,2017-11-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
15270,TRADERS CORNER,"SSL TRADERS HOTEL, KAMUNTING (ABLE BILLION SDN...",NaN,2018-12-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)

In [362]:
# Dropping null address because the halal certificate is expired anyway
df_final = df_final.dropna(subset=['Address'])

In [363]:
df_final.to_csv('premis_makanan_list_part_6_cleaned.csv', index=False)

In [364]:
filtered_areas = ["KL", "Kuala Lumpur", "Selangor"]

df_kl_selangor = df[df['Address'].apply(lambda x: any(val in str(x) for val in filtered_areas))]

display (df_kl_selangor)
display (df_kl_selangor.shape)
display (df_kl_selangor.info())
display (df_kl_selangor.describe())
display (df_kl_selangor.isnull().sum())

,Premise Name,Company Brand Name,Address,Halal Certification Expiry Date,Halal Certification Body
15,KYROS KEBAB KLCC,KYROS KEBAB SDN BHD,"SURIA KLCC FOOD COURT2ND FLOOR, SURIA KLCCJALA...",2019-08-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
21,JONKER WALK KOPITIAM,GOLDEN BAGS CORPORATIONS SDN.BHD,"LOT 19E, GATE B3, CONTACT PIER DOMESTIC DEPART...",2017-12-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
53,DOMINOS PIZZA ( BPK ),DOMMAL FOOD SERVICES SDN BHD,"NO.170, PERSIARAN RAJA MUDA MUSA, PORT KLANG, ...",2017-12-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
69,MCDONALD'S PERSIARAN RAJA MUDA MUSA DRIVE THRU,GERBANG ALAF RESTAURANTS SDN BHD (FORMERLY KNO...,"LOT PT 3358, SEKSYEN 31,PERSIARAN RAJA MUDA MU...",2017-11-30,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
83,KFC AEON BUKIT RAJA,KFC (PENINSULAR MALAYSIA) SDN BHD,"G-32 GROUNF FLOOR, PERSIARAN BUKIT RAJA BANDAR...",2017-12-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
...,...,...,...,...,...
196092,DUBUYO MINI SURIA KLCC,DUBUYO SDN. BHD.,"LOT F205, 2ND FLOOR, SURIA KLCC KUALA LUMPUR C...",2025-12-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
196101,MEE HIRIS CHINA MUSLIM,MHFB RESOURCES SDN BHD,MEE TARIK TERBAIK SDN. BHD. LOT F-57 MITSUI OU...,2025-11-30,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
196131,PASTRY KITCHEN,ORMOND LIFESTYLE SERVICES SDN BHD,"LOT PT13, JALAN KLIA 2/2",2025-12-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
196134,EMPIRE SUSHI KLUANG MALL,EMPIRE SUSHI SDN. BHD.,"LOT G-05, GROUND FLOOR, KLUANG MALL, JALAN RAM...",2025-12-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
196160,SECRET RECIPE CAKES & CAFE SDN BHD - SR @ SURI...,SECRET RECIPE CAKES & CAFE SDN BHD,"C35 CONCOURSE LEVEL, SURIA KLCC, KL CITY CENTRE,",2025-12-31,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)

(9414, 5)

<class 'pandas.core.frame.DataFrame'>
Index: 9414 entries, 15 to 196160
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Premise Name                     9414 non-null   object
 1   Company Brand Name               9414 non-null   object
 2   Address                          9414 non-null   object
 3   Halal Certification Expiry Date  9405 non-null   object
 4   Halal Certification Body         9414 non-null   object
dtypes: object(5)
memory usage: 441.3+ KB

None

,Premise Name,Company Brand Name,Address,Halal Certification Expiry Date,Halal Certification Body
count,9414,9414,9414,9405,9414
unique,827,201,1090,230,2
top,KFC AEON BUKIT RAJA,QSR STORES SDN BHD,"NO. G 02 BATU PAHAT MALL, 352 JALAN KLUANG,",2020-05-15,JABATAN KEMAJUAN ISLAM MALAYSIA (JAKIM)
freq,84,2210,76,357,9407

Premise Name                       0
Company Brand Name                 0
Address                            0
Halal Certification Expiry Date    9
Halal Certification Body           0
dtype: int64

In [365]:
df_kl_selangor.to_csv('premis_makanan_list_part_6_kl_selangor.csv', index=False)